/* .detail{
  display: flex;
  background:var(--bg-100);
  align-items: center;
  justify-content: space-evenly;
  height: 604px;
} */


.detail{
  width: 100%;
  padding: 32px;
  padding-top: 70px;
}
.containerDetail {
  background:var(--bg-100);
min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flag {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 2px 4px 0px var(--accent-100);
}
.containerName{
  margin-bottom: 20px;
}
.name {
  font-size: 50px;
  color:var(--text-100);
  text-shadow: 2px 4px 0px var(--accent-100), 7px 4px 0px var(--accent-200);
  transition: 200ms;
  align-items: center;
  width: 100%;
}
.id{
  font-size: 25px;
}
.containerDetailInfo{
  display:flex;
  width: 100%;
  justify-content: flex-start;
  gap: 40px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  height: 300px;
  padding: 16px;
  justify-content: space-between;
}
.divider{
  height: 300px;
  width: 3px;
  background: var(--accent-200);

}
.containerActivities{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:16px;
  border: 2px solid var(--accent-200);
  border-radius: 20px;
  padding: 16px;
  width: 30%;
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;

}

/* .containerDetailInfo > div:last-child > .divider{
  display: none;
} */
@media (max-width: 414px) {
  .father {
    max-width: 414px;
  }

  .container {
    padding-bottom: 50px;
    justify-content: center;
    margin-right: 10px;
  }

  .flag {
    width: 150px;
    height: 150px;
    position: relative;
    
  }

  .name {
    font-size: 15px;
    align-items: center;
    width: 250px;
  }
}
