.container {
  background: rgb(46, 22, 65);
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerDetail {
  min-height: 367px;
  max-width: 900px;
  min-width: 300px;
  margin: 100px;
  border-radius: 30px;
  background: rgb(46, 22, 65);
  background: linear-gradient(0deg, var(--purple-dark) 0%, var(--purple-light) 90%);
  border: 10px solid var(--purple-dark);
  box-shadow: 0 0 12px 3px var(--purple-dark);
  transition: 50ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDetail:hover {
  transform: scale(1.009);
  box-shadow: 0 0 15px 5px var(--purple-dark);
}

.flag {
  
  height: 300px;
   box-shadow: 0px 0px 5px var(--green);
}

.name {
  font-size: 15px;
  align-items: center;
  width: 140px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h3,
.info h4 {
  margin: 5px;
}

@media (max-width: 414px) {
  .father {
    max-width: 414px;
  }

  .container {
    padding-bottom: 50px;
    justify-content: center;
    margin-right: 10px;
  }

  .flag {
    width: 150px;
    height: 150px;
    position: relative;
    
  }

  .name {
    font-size: 15px;
    align-items: center;
    width: 250px;
  }
}
