.home{
    background-color: var(--bg-100);
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    padding-top: 60px;
    padding-left: 20%;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
/* Estilo para el contenedor del mensaje de carga */
.loaderContainer{
  background-color: var(--bg-100);
  display: flex; /* Cambio de absolute a flex */
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 70px;
  
}

.loader {
	width: 24em;
	height: 24em;
}

.loader path {
	stroke: #000;
	stroke-width: 0.6px;
	animation: dashArray 4s ease-in-out infinite, dashOffset 4s linear infinite;
}

@keyframes dashArray {
	0% {
		stroke-dasharray: 0 1 359 0;
	}

	50% {
		stroke-dasharray: 0 359 1 0;
	}

	100% {
		stroke-dasharray: 359 1 0 0;
	}
}

@keyframes dashOffset {
	0% {
		stroke-dashoffset: 365;
	}

	100% {
		stroke-dashoffset: 5;
	}
}

.filters h3 {
    margin-bottom: 10px; /* Ajusta el espacio entre el encabezado "Sort" y el componente "OrderHelpers" */
  }
.filters {
    margin-top:10px ;
    margin-bottom: 20px; /* Ajusta el espacio entre los filtros y los órdenes */
  }

  .orders h3 {
    margin-bottom: 10px; /* Ajusta el espacio entre el encabezado "Sort" y el componente "OrderHelpers" */
  }
  
  .orders {
    margin-top: 10px; /* Ajusta el espacio entre los órdenes y el resto del contenido */
  }
.part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.title {
    display: flex;
    flex-direction: column;
    color: var(--text-100);
    font-size: 40px;
    margin-bottom: 15px;
    text-align:center;
    text-shadow: 2px 4px 0px var(--accent-100), 7px 4px 0px var(--accent-200);
   transition: 200ms;
}
.title:hover {
    transform: scale(1.1);
  }

.title h2 {
    color: var( --text-300);
    font-size: 2rem;
    margin-bottom: 30px;
    text-align:center;

}
.select{ 
    padding-top: 100px;
    display: flex;

}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    left: 80px;
    width: 90%;
    margin-top: 40px;
    gap: 50px;
    
}

.txt{
    text-decoration: none;
    color: var(--text-300);
}

.name {
    font-size: 19px;
    color: var(--text-400);
    text-align: center;
    padding: 6px;

}

.card {
    width: 250px;
    height: 450px;
    /* margin-bottom: 20px; */
    flex-direction: row;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --bg-card) ;
    border: 4px solid var(--accent-card);
    box-shadow: 0px 0px 25px var(--accent-botton);
    transition: 200ms;

}

.card:hover {
   transform: scale(1.1);
  }


.img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px var(--bg-footer);
    transition: transform 0.3s ease;
}
.img:hover{
    transform: scale(1.1);
}


.p{
    background-color: var(--bg-text);
    color: var(--text-300);
    border-radius: 15px;
    max-width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  
}
.p1{
    background-color: var(--bg-text);
    color: var(--text-300);
    border-radius: 15px;
    max-width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
  
}

.searchResetContainer{
    display: flex;
    
}
/* Button RESET */
.button {
    position: relative;
    width: 152px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #578567;
    background-color: #7cab8c;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  .button__text {
    transform: translateX(30px);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 90%;
    width: 39px;
    background-color: #85B595;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 46px;
    height: 46px;
    fill: #fff;
  }
  
  .button:hover {
    background:#85B595;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #85B595;
  }
  
  .button:active {
    border: 1px solid #85B595;
  }
/* END Button RESET */

@media (max-width: 768px) {
    
    .home img.animation{
        padding-bottom:120px;
        padding-top: 150px;
    }
}