.container { 
    border-radius: 20px;
    font-size: 1rem;
    height: 40px;
    background-color: rgba(231, 96, 6, 0.8);
    color: white;
    padding: 5px;
}
.restore { 
    border-radius: 20px;
    font-size: 1rem;
    height: 40px;
    background-color: rgba(6, 130, 231, 0.8);
    color: white;
    padding: 10px;   
    
}
.restore:hover{
    background-color: white;
    color:rgba(6, 130, 231, 0.8);
    cursor: pointer;
}
.container:hover{
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  cursor: pointer;
}
.names {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerFather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.buttonsMenu{
    padding: 10px;
    height: 50px;
    width: 130px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(164, 144, 124);
    color: white;
}

@media (max-width: 768px) {
    .container { 
        border-radius: 20px;
        font-size: 1rem;
        height: 50px;
        background-color: rgba(255, 136, 39, 0.8);
        color: rgb(255, 255, 255);
        padding: 5px;
        width: auto;
    }
    .containerFather{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
}
@media (max-width: 414px) {
    .container {
        width: 200px;
    }
}
