.landingContainer {
  background: url("../../assets/Images/bg3.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(206, 147, 186, 0.4);
  /* background-blend-mode: lighten; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  padding: 20px;
}

.animation {
  font-family: "Arial", sans-serif;
  display:flex;
  flex-direction:column;
  position: absolute;
  align-items: center;
   top: 10%;
   text-shadow: 2px 4px 0px var(--accent-100), 7px 4px 0px var(--accent-200);
   transition: 200ms;
  font-size: 80px;
  color:var(--text-100);
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
}
.animation:hover {
  color: var(--text-200);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.exploreButton {
  display:flex;
  flex-direction:column;
  position: absolute;
   top: 40%;
  padding: 12px 24px;
  background-color: var(--bg-botton);
  color:var(--text-300);
  font-family: "Arial", sans-serif;
  font-size: 30px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.exploreButton:hover {
  background-color: var(--accent-botton);
  transform: scale(1.1);
  box-shadow: 2px 4px 0px var(--accent-100), 7px 4px 0px var(--accent-200);
}
/* OPCION 2 */
/* .landingContainer {
  background: url("../../assets/Images/bg3.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(206, 147, 186, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89.3vh;
  padding: 20px;
} */
/* .animation {
  font-family: "Arial", sans-serif;
  display:flex;
  flex-direction:column;
  position: absolute;
   top: 10%;
  right: 60px;
  font-size: 40px;
  color: rgb(2, 12, 54);
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
} */