.sidebarContainer {
  min-height: 100vh;
  background-color: var(--bg-footer);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 200px;

}
.actLink{
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  outline: none;
  font-family: var(--font-family);
  text-orientation: sideways;
}
.actLink svg{
  stroke: black;
  width: 20px;
  height: 20px;
  
}
.button svg{
  color: var(--text-color);
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 5px;  

}
.button{
  display: flex;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}
.sidebar {
  min-height: 100vh;
background-color: var(--bg-footer);
position: fixed;
top: 0;
left: 0;
z-index: 11;
width: 200px;
}


.filterContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.filterbtn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: none;
   cursor: pointer;
  background-color: var(--bg-footer);
  color: var(--text-color);
  width: 100%;
  text-align: left;
  outline: none;
  padding: 8px 16px;
  transition: 0.4s;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-family);

}

.filterbtn svg {
  stroke: black;
  width: 20px;
  height: 20px;
 
}

.link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  margin: 0 auto;
}

.link:hover {
  background-color: rgba(7, 7, 7, 0.7);
  color: white;
  border-radius: 20px;
}

.div {
  border-radius: 70px;
  padding: 10px;
  margin-left: 50px;
}

.h1 {
  font-size: 20px;
 
}

.decoration {
  text-decoration: none;
  color: white;
}

.decoration:hover {
  color: black;
}

.img2 {
  width: 40px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 20px;
}
